.actions button img {
  width: 36px;
  height: 36px;
  opacity: 0.66;
}

.run {
  border: none;
  background: transparent;
  padding: 8px 0;
  color: #8bc34a;
  font-size: 24px;
  cursor: pointer;
}

.main-container {
  display: flex;
  width: 100%;
  height: calc(100vh - 44px);
}

.preview {
  width: 0;
  visibility: hidden;
}

.code {
  background: #444;
  width: 100%;
}

.code textarea {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  background: #444;
  color: #fff;
  font-size: 18px;
  padding: 16px;
}

.code textarea:focus,
.code textarea:active {
  outline: none;
  box-shadow: none;
}

.preview {
  background: #fff;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}
